.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    margin-left: 35px;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid crimson;
}

.about .about-content .right a:hover {
    background: none;
    color: #111111;
}

.about .about-content .left img {
    height: 300px;
    width: 450px;
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 947px) {
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .about .about-content .left img {
        height: 250px;
        width: 300px;
    }
}

@media (max-width: 500px) {
    .about .about-content {
        flex-direction: column;
    }
    .about .about-content .right .text {
        font-size: 16px;
    }
    .about .about-content .right .text {
        margin-left: 0px;
    }
    .about .about-content .right a {
        margin-left: 50px;
    }
    .about .about-content .left {
        margin: 0 auto 30px;
    }
    .about .about-content .left img {
        height: 150px;
        width: 200px;
    }
    #inc-about section .title {
        margin-bottom: 10px;
        padding-bottom: 0;
    }
}