.contact .contact-content .column {
    display: flex;
    /* width: calc(50% - 30px); */
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row .fa {
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head {
    font-weight: 500;
    font-size: 20px;
}

.contact .contact-content .info .sub-title {
    color: #333333;
    font-size: 18px;
}

.contact .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    /* margin-left: 30%; */
    /* margin-right: 50%; */
}

.contact .right form .fields {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.contact .right form .field, .contact .right form .fields .field {
    width: 100%;
    margin-top: 20px;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .fields .field input, .contact .right form .textarea textarea {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 10px 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    margin-top: 15px;
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;
    cursor: pointer;
}

.sub-title a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 500px) {
    section {
        padding: 30px;
    }
    .max-width {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .home .home-content {
        text-align: center;
        margin-left: 0px;
    }
    .home .home-content .text-1 {
        font-size: 55px;
    }
    .home .home-content .text-2 {
        font-size: 25px;
    }
    .home .home-content .text-2 span {
        font-size: 30px;
        margin-left: 0px;
        position: 0px;
    }
    .home .home-content a {
        font-size: 18px;
        padding: 10px 30px;
    }
    .about .about-content .right .text {
        font-size: 19px;
    }
    .about .about-content .right .text {
        margin-left: 0px;
    }
    .about .about-content .right a {
        margin-left: 50px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name, .contact .right form .email {
        margin: 0;
    }
    #inc-contact section .title {
        margin-bottom: 25px;
        padding-bottom: 0;
    }
}