/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

footer {
  text-align: center;
  background: #111111;
  padding: 20px 23px;
}

footer span {
  color: #ffffff;
}

footer span a {
  color: crimson;
  text-decoration: none;
}
